*.pyc

Paper/wpaper/plos_template.synctex.gz

Paper/wpaper/plos_template.log

Paper/wpaper/plos_template.aux

Paper/wpaper/plos_template.pdf

Paper/wpaper/paper.aux

Paper/wpaper/paper.log

Paper/wpaper/paper.pdf

Paper/wpaper/paper.synctex.gz
